 :root {
--branco-principal: #ffffff;
--cinza-secundario: #C0C0C0;
--botao-azul: #000000;
--cor-de-fundo: #131313;
}

body {
   background-color: var(--cor-de-fundo);
   color: var(--branco-principal);
}

.cabecalho-imagem{
   width: 40%;

}

.container {
   height: 100vh;
   display: grid;
   grid-template-columns: 50% 50%;
}

.container__botao {
   background-color: var(--botao-azul);
   border-radius: 5px;
   padding: 1em;
   color: var(--branco-principal);
   display: block;
}

.botao_secundario {
   background-color: transparent;
   border: 2px solid var(--branco-principal)
}

.container__imagem {
   margin: 1em 0 2em 0;
}
   

